<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cssStyles/bootstrap.min.css">
    <script src="../static/scripts/jquery.min.js"></script>
    <script src="../static/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/cssStyles/mystyles.css" />
    <script src="../static/scripts/myjs.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{chroma}}" alt="img" class="img-rounded" width="400" height="300">
            </div>
            <div class="col-sm-4">
                <img src="{{mel}}" alt="img" width="400" height="300">
            </div>
            <div class="col-sm-4">
                <img src="{{mfccs}}" alt="img" width="400" height="300">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <img src="{{heatmap}}" alt="img" width="900" height="600">
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div> -->
    <div class="container-fluid">
        <br>
        <div class="row" style="text-align: center">
            <label>
                <h2 style="font-family:'Times New Roman', Times, serif">
                    Spectrogram Images
                </h2>
            </label>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <img src="../static/chroma.jpg" alt="img" class="img-responsive img-rounded" width="400" height="300">
            </div>
            <div class="col-sm-4">
                <img src="../static/mel.jpg" class="img-responsive img-rounded" alt="img" width="400" height="300">
            </div>

            <div class="col-sm-4">
                <img src="../static/mfccs.jpg" class="img-responsive img-rounded" alt="img" width="400" height="300">
            </div>
        </div>
        <hr>
        <div class="row" style="text-align: center">
            <label>
                <h2>
                    Heatmap of the Probable Diseases
                </h2> 
            </label>

        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <img src="../static/heatmap.jpg" class="img-responsive img-rounded" alt="img" width="900" height="600">
            </div>
            <div class="col-sm-2">

            </div>
            
        </div>
        <hr>
    </div>
</body>

</html>